[user]
    name = Andrew Kandyba
    email = andrew.kandyba@gmail.com
    signingkey = 323AF0E60BB01492
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
[merge]
    conflictstyle = diff3
    ff = false
[push]
    default = current
[init]
    defaultBranch = master
[commit]
    gpgsign = true
