[
  {
    "context": "Editor",
    "bindings": {
      "cmd-1": "workspace::ToggleLeftDock",
      "cmd-2": "workspace::ToggleRightDock",
      "cmd-3": "workspace::ToggleBottomDock"
    }
  },
  {
    "context": "Terminal",
    "bindings": {
      "cmd-3": "workspace::ToggleBottomDock"
    }
  }
]
