%echo Generating GPG key
Key-Type: RSA
Key-Length: 4096
Subkey-Type: RSA
Subkey-Length: 4096
Name-Real: {{ vault.git.name }}
Name-Email: {{ vault.git.email }}
Expire-Date: 0
Passphrase: {{ vault.gpg.passphrase | default('') }}
%commit
%echo Key generation completed
