 [user]
    name = "{{ vault.git.name }}"
    email = "{{ vault.git.email }}"
    signingkey = "{{ vault.git.signingkey }}"
[core]
    autocrlf = input
    excludesfile = "{{ git.ignore.dest }}"
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = "{{ git.signers.dest }}"
[merge]
    conflictstyle = diff3
    ff = false
[push]
    default = current
[init]
    defaultBranch = "{{ git.branch }}"
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
