Host *
    StrictHostKeyChecking yes
    HashKnownHosts yes
    PubkeyAuthentication yes
    PasswordAuthentication no
    IdentityAgent {{ ssh.agent.auth_sock }}

Host github.com
    User git
    Compression yes
