cursor-style = bar
font-size = 12
font-family = FiraCode Nerd Font Mono
macos-titlebar-style = tabs
theme = GruvboxDark
window-padding-x = 10
window-padding-y = 10
window-padding-balance = true
window-padding-color = extend
